html,
body {
    height: 100%;
}
.my-table td{
    padding:10px;
}



.wrap {
    width: calc(100% - 300px);
    min-height: 100%;
    height: auto;
    margin: 0 0 0px 300px;
    padding: 0 0 60px;

}

.wrap > .container {
    width: 100%;
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-image: url(/../image/sample-background.jpg) ;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-inverse {
    margin-left: 300px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(240, 240, 240);
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
    color: rgb(59, 59, 59) !important;
    margin-right: 160px !important;
}

.panel {
    background-image: linear-gradient(to bottom, rgba(30, 70, 70), rgb(167, 2, 2));
    position: fixed ;
    width: 300px;
    left: 0;
    height: 100vh;
    border: 0 !important;
}

.nav-pills li a:hover{
    background-color: rgb(212, 44, 44);
    
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-image: linear-gradient(to bottom, rgba(30, 70, 70), rgb(167, 3, 3));
}

.kv-sidenav .active > ul {
    background-color: #700f0c !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(184, 17, 17) !important;
}

.panel-heading {

    border: 0 !important;
}

.company_logo
{
    width: 100%;
    height: 100 px;
}

.panel-heading
{
    padding: 0px;
}

.nav > li > a {
    color: #d6e3ee;
    transition: all 0.5s ease;
  background:transparent;
  padding: 10px;
    
}

.ticket-counter
{
    background-color: #5cb85c;
    float: right;
}

.test-class
{
    background-color: red !important;
}

.grid-view table thead {
    background-image: linear-gradient(to bottom, rgba(30, 70, 70), rgb(167, 2, 2));
}


.nav-pills li a {
    border-radius: 0 ;
    border-bottom: 0px solid #ddd !important;

}

.fieldset-background {
    background-image: linear-gradient(to bottom, rgba(30, 70, 70), rgba(255,0,0,1));
    color: white;
    
}
.fieldset-border {
    border: 1px solid black !important;
}

.fieldset-container
{
    padding: 5px 10px;
}


.nav li > form > button.logout {
    font-weight: bold;
    color: rgb(59, 59, 59) !important;
    margin-right: 130px !important;
}

.img-border
{
    border-radius: 25px;
    background: #5cb85c;
 
    width: 200px;
    height: 170px;  
}

hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

